body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #f0f0f0;
  text-shadow: 0px 0px 2px #424242;
  background-color: #242424;
  padding: 40px;
}

/* Animation for buttons to appear */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

button {
  opacity: 0;
  margin: 10px;
  padding: 10px;
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  animation: fadeIn 1.8s forwards;
  animation-delay: 2s;
}

button:hover {
  background-color: #2e2e2eb7;
}

/* Letter animation */
@keyframes popIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

p span {
    display: inline-block;
    opacity: 0;
    animation: popIn 1.2s forwards;
}

p span:nth-child(1) { animation-delay: 0s; }
p span:nth-child(2) { animation-delay: 0.2s; }
p span:nth-child(3) { animation-delay: 0.4s; }
p span:nth-child(4) { animation-delay: 0.6s; }
p span:nth-child(5) { animation-delay: 0.8s; }
p span:nth-child(6) { animation-delay: 1.0s; }
p span:nth-child(7) { animation-delay: 1.2s; }
p span:nth-child(8) { animation-delay: 1.4s; }
p span:nth-child(9) { animation-delay: 1.6s; }
p span:nth-child(10) { animation-delay: 1.8s; }
p span:nth-child(11) { animation-delay: 2.0s; }
p span:nth-child(12) { animation-delay: 2.2s; }
p span:nth-child(13) { animation-delay: 2.4s; }


/* BACKGROUND */

.index-image-background {
  background-image: url('../04_18.jpg'); /* 替换为您的图片路径 */
  background-size: cover;
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh; 
  /* width: 100%; 覆盖整个宽度 */
}


.q1-image-background,
.q10-image-background,
.q15-image-background,
.q18-image-background {
  background-image: url('../img/04Screenshot00.jpg');
  background-size: cover;
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh; 
}

.q2-image-background,
.q3-image-background
.q5-image-background,
.q6-image-background {
  background-image: url('../img/04_13.jpg');
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh; 
}

.q7-image-background {
  background-image: url('/img/04_00.jpg');
  background-size: cover;
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh; 
}

.q12-image-background,
.q14-image-background,
.q17-image-background {
  background-image: url('/img/23.png');
  background-size: cover;
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh; 
}

.q13-image-background {
  background-image: url('/img/04_19.jpg');
  background-size: cover;
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh;
}

.q16-image-background {
  background-image: url('/img/04_25.jpg');
  background-size: cover;
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  height: 100vh;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh;
  z-index: -1;
}
